In [2]:
import numpy as np
import pandas as pd

In [3]:
import chardet
with open(r"C:\Users\sivas\OneDrive\Documents\Data Analyst Projects\Project 2\Dataset\Sample - Superstore.csv","rb") as f:
    dt = f.read(50000)
    result = chardet.detect(dt)
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [4]:
data = pd.read_csv(r"C:\Users\sivas\OneDrive\Documents\Data Analyst Projects\Project 2\Dataset\Sample - Superstore.csv",encoding = "windows-1252")

In [5]:
data.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Unnamed: 17       object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [6]:
data["Row ID"] = data["Row ID"].astype("string")

In [7]:
data["Order ID"] = data["Order ID"].astype("string")

In [8]:
data.isnull().sum()

Row ID              0
Order ID            0
Order Date          0
Ship Date           0
Ship Mode           0
Customer ID         0
Customer Name       0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Product ID          0
Category            0
Sub-Category        0
Product Name        0
Unnamed: 17      9993
Sales               0
Quantity            0
Discount            0
Profit              0
dtype: int64

In [9]:
data.drop("Unnamed: 17", axis = 1, inplace = True)

In [10]:
data["Ship Mode"] = data["Ship Mode"].astype('string')
data["Customer ID"] = data["Customer ID"] .astype('string')
data["Customer Name"] = data["Customer Name"] .astype('string')
data["Segment"] = data["Segment"] .astype('category')
data["Country"] = data["Country"] .astype('string')
data["City"] = data["City"] .astype('string')
data["State"] = data["State"] .astype('string')
data["Postal Code"] = data["Postal Code"] .astype('string')
data["Region"] = data["Region"] .astype('category')
data["Product ID"]  = data["Product ID"] .astype('string')
data["Category"]  = data["Category"] .astype('category')
data["Sub-Category"]  = data["Sub-Category"] .astype('string')
data["Product Name"]  = data["Product Name"] .astype('string')

In [11]:
data["Order Date"] = pd.to_datetime(data["Order Date"],dayfirst =True)

In [12]:
data.loc[pd.to_datetime(data["Ship Date"],errors ="coerce").isna(), "Ship Date"]

2       16-06-2016
3       16-06-2017
4       16-06-2018
5       16-06-2019
6       16-06-2020
           ...
9984    23-05-2015
9985    23-05-2015
9987    21-11-2017
9988    21-11-2017
9989    23-01-2014
Name: Ship Date, Length: 6096, dtype: object

In [13]:
data["Ship Date"] = pd.to_datetime(data["Ship Date"], dayfirst = True)

In [14]:
data.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [15]:
data = data.apply(lambda x : x.str.strip() if x.dtype == "string" else x)

In [16]:
mask = data.select_dtypes(include = "string").apply(lambda x : x.str.contains(r'[^a-zA-z0-9 ]', regex = True, na = False))

In [17]:
mask. any()

Row ID           False
Order ID          True
Ship Mode        False
Customer ID       True
Customer Name     True
Country          False
City             False
State            False
Postal Code      False
Product ID        True
Sub-Category     False
Product Name      True
dtype: boolean

In [18]:
data.dtypes

Row ID           string[python]
Order ID         string[python]
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode        string[python]
Customer ID      string[python]
Customer Name    string[python]
Segment                category
Country          string[python]
City             string[python]
State            string[python]
Postal Code      string[python]
Region                 category
Product ID       string[python]
Category               category
Sub-Category     string[python]
Product Name     string[python]
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [19]:
data["Order Date"]. min()

Timestamp('2014-01-03 00:00:00')

In [20]:
data["Order Date"].max()

Timestamp('2017-12-30 00:00:00')

In [21]:
data["Ship Date"].min()

Timestamp('2014-01-04 00:00:00')

In [22]:
data["Ship Date"].max()

Timestamp('2026-06-16 00:00:00')

In [23]:
data["Ship Date"].between("2018-01-01","2018-12-31").sum()

43

In [24]:
data["Order Date"].between("2018-01-01","2018-12-31").sum()

0

In [25]:
data.select_dtypes(include= "datetime").apply(lambda x : x > "2018-12-31" ).sum()

Order Date    0
Ship Date     8
dtype: int64

In [26]:
data = data[data["Ship Date"].between("2014-01-01", "2018-12-31")]

In [27]:
data["Ship Date"].min()

Timestamp('2014-01-04 00:00:00')

In [28]:
data["Ship Date"].max()

Timestamp('2018-06-16 00:00:00')

In [29]:
data["Segment"].unique()

['Consumer', 'Corporate', 'Home Office']
Categories (3, object): ['Consumer', 'Corporate', 'Home Office']

In [30]:
data["Country"].unique()

<StringArray>
['United States']
Length: 1, dtype: string

In [31]:
pd.reset_option("display.max_rows")

In [32]:
data["City"].unique()

<StringArray>
[        'Henderson',       'Los Angeles',   'Fort Lauderdale',
           'Seattle',        'Fort Worth',           'Madison',
       'West Jordan',     'San Francisco',           'Fremont',
      'Philadelphia',
 ...
        'Hagerstown',       'East Orange', 'Arlington Heights',
            'Oswego',       'Coon Rapids',      'San Clemente',
   'San Luis Obispo',        'Springdale',              'Lodi',
             'Mason']
Length: 531, dtype: string

In [33]:
data["State"].unique()

<StringArray>
[            'Kentucky',           'California',              'Florida',
           'Washington',                'Texas',            'Wisconsin',
                 'Utah',             'Nebraska',         'Pennsylvania',
             'Illinois',            'Minnesota',             'Michigan',
             'Delaware',              'Indiana',             'New York',
              'Arizona',             'Virginia',            'Tennessee',
              'Alabama',       'North Carolina',       'South Carolina',
               'Oregon',             'Colorado',                 'Iowa',
                 'Ohio',             'Missouri',             'Oklahoma',
           'New Mexico',            'Louisiana',          'Connecticut',
           'New Jersey',        'Massachusetts',              'Georgia',
               'Nevada',         'Rhode Island',          'Mississippi',
             'Arkansas',              'Montana',        'New Hampshire',
             'Maryland', 'District of Columbia',               'Kansas',
              'Vermont',                'Maine',         'South Dakota',
                'Idaho',         'North Dakota',              'Wyoming',
        'West Virginia']
Length: 49, dtype: string

In [34]:
data["Region"].unique()

['South', 'West', 'Central', 'East']
Categories (4, object): ['Central', 'East', 'South', 'West']

In [35]:
data["Category"].unique()

['Furniture', 'Office Supplies', 'Technology']
Categories (3, object): ['Furniture', 'Office Supplies', 'Technology']

In [36]:
data["Sub-Category"].unique()

<StringArray>
[  'Bookcases',      'Chairs',      'Labels',      'Tables',     'Storage',
     'Binders',  'Appliances',         'Art',      'Phones', 'Accessories',
 'Furnishings',   'Envelopes',       'Paper',   'Fasteners',    'Supplies',
    'Machines',     'Copiers']
Length: 17, dtype: string

In [37]:
data.to_csv(r"C:\Users\sivas\OneDrive\Documents\Data Analyst Projects\Project 2\cleaned_superstore using python.csv")